@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --black: #0D0D0D;
    --white: #fff;
    --gray: #636363;
    --gray-title: #505050;
    --gray-info: #383838;
    --title: #6B6B6B;
    --gray-light: #d1d1d1;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--gray);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Geist', sans-serif;
}

.dark {
    background: var(--black);
    color: var(--white);
}

.light {
    background: var(--white);
    color: var(--black);
}

.dark a {
    color: var(--white);
}

.light a {
    color: var(--black);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'JetBrains Mono', monospace;
}