@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: url("https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@v3.2.1/patched-fonts/JetBrainsMono/Ligatures/Regular/JetBrainsMonoNerdFont-Regular.ttf")
        format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

:root {
    --background: #000;
    --white: #fff;
    --gray: #afafaf;
    --gray-risked: #4f4f4f;
    --gray-transparent: rgba(255, 255, 255, 0.1);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--gray);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", cursive;
    scroll-behavior: smooth;
}

a {
    color: var(--white);
    text-decoration: underline;
    transition: 1s all ease;
}

a:hover {
    color: var(--gray);
}

hr {
    margin: 2rem auto;
    width: 3rem;
    border: 1px solid var(--gray-transparent);
}

code {
    font-family: "DM Mono";
}
