@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #161819;
    --primary: #d36cbf;
    --dark-primary: #1e2355;
    --second: #e8e6e3;
    --second-light: #ccc;
    --third: #e5e5e5;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 20px;
    overflow-x: hidden;
}

[data-theme='dark'] {
    background: var(--background);
}

[data-theme='light'] {
    background: var(--background);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.homePage {
    background: #161819;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body::-webkit-scrollbar {
    width: 14px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--background);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--background);
    /* creates padding around scroll thumb */
}

a {
    color: var(--primary);
    text-decoration: underline;
}

a:hover {
    color: var(--second);
}

blockquote {
    color: var(--primary);
}