@tailwind base;

/* Write your own custom base styles here */

html {
    scroll-behavior: smooth;
}

body {
    background: #181A1B;
    color: #E8E6E3;

    /* #1B1D1E - Github & Footer */
}

a {
    color: #7159c1;
}

code {
    background: #2B213A;
    color: #F97D61;
    border-radius: 10px;
    padding: 5px;
    display: block;
    width: 100%;
    font-size: 15px;
    align-items: center;
}

small {
    background: #2B213A;
    color: #F97D61;
    border-radius: 10px;
    padding: 5px;
}

footer .container {
    background: #181A1B;
}

.topGithub {
    background: #181A1B;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
