@tailwind base;

/* Write your own custom base styles here */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--body-color);
    color: #E5E5E5;

    /* #1B1D1E - Github & Footer */
}

a {
    color: #9278ec;
}

code {
    background: #2B213A;
    color: #F97D61;
    border-radius: 10px;
    padding: 5px;
    display: block;
    width: 100%;
    font-size: 15px;
    align-items: center;
}

small {
    background: #2b213a;
    color: #F97D61;
    border-radius: 10px;
    padding: 5px;
}

footer .footerblog {
    background: #191627;
}

.topGithub {
    background: #100e1b;
}

/* CUSTOM */

@import url('https:/* */fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --header-height: 3rem;

    --hue-color: 250; /* Purple 250 - Green 142 - Blue 230 - Pink 340 */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);

    --container-color: hsl(var(--hue-color), 29%, 16%);

    --body-font: 'Roboto', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem; 
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem; 
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--title-color);
}

h1, h2, h3, h4 {
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

ul {
   list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* */

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle {
    text-align: center;
}

/* */

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: var(--first-color);
    color: var(--container-color);
    padding: var(--mb-0-5) var(--mb-0-25);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
}

.nav__logo:hover {
    color: var(--first-color-lighter);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color-lighter);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color-lighter);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

.show-menu {
    bottom: 0;
}

.scroll-header {
    box-shadow: 0 -1px 4px rgba(0,0,0,.20)
}

/* */

.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__blob {
    width: 200px;
    fill: var(--first-color);
}

.home__blob-img {
    width: 170px;
}

.home__data {
    grid-column: 1/3;
}

.home__title {
    font-size: var(--big-font-size);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75); 
}

.home__description {
    margin-bottom: var(--mb-2);
}

.home__scroll {
    display: none;
}

.home__scroll-button {
    color: var(--first-color);
    transition: .3s;
}

.home__scroll-button:hover {
    transform: translateY(.25rem)
}

.home__scroll-mouse {
    font-size: 2rem;
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: (--first-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

/* */

.button {
    display: inline-block;
    background: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button__white {
    background: #fff;
    color: var(--first-color)
}

.button__white:hover {
    background: #fff;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: .75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background: transparent;
    color: var(--first-color-alt);
}

/* */

.about__img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-2-5);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name {
    font-size: var(--small-font-size);
}

.about__info-title, .about__info-name {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
}

/* */

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.qualification__button:hover {
    color: var(--first-color);
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 1.5rem;
}

.qualification__data hr {
    margin-bottom: var(--mb-0-5);
    margin-top: var(--mb-0-5);
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-top: var(--mb-0-5);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: var(--first-color);
    border-radius: 50%;
}

.qualification [data-content] {
    display: block;
}

.qualification__active[data-content] {
    display: block;
}

.qualification__button, .qualification__active {
    color: var(--first-color);
}

/* */

.services__container {
    gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
}

.services__content {
    position: relative;
    background: rgba(0,0,0,.15);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
}

.services__content:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
}

.services__icon {
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services__button {
    cursor: pointer;
    font-size: var(--small-font-size);
}

.services__button:hover .button__icon{
    transform: translateX(.25rem);
}

.services__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.services__modal-content {
    position: relative;
    background: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

.services__modal-services {
    row-gap: 1rem;
}

.services__modal-service {
    display: flex;
}

.services__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.services__modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.services__modal-icon {
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}

/* */

.active-modal {
    opacity: 1;
    visibility: visible;
}

/* */

.portfolio__container {
    overflow: initial;
}

.portfolio__content {
    padding: 0 1.5rem;
}

.portfolio__img {
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio__description {
    margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon {
    transform: translateX(.25rem)
}

/* */

.project {
    text-align: center;
}

.project__bg {
    background: var(--first-color-second);
    padding-top: 3rem;
}

.project__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.project__description {
    margin-bottom: var(--mb-1-5);
}

.project__title, .project__description {
    color: #fff;
}

.project__img {
    width: 232px;
    justify-self: center;
}

/* */

.testimonial__data, .testimonial__header {
    display: flex;
}

.testimonial__data {
    justify-content: space-evenly;
    margin-bottom: var(--mb-1);
}

.testimonial__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: var(--mb-0-75)
}

.testimonial__name {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.testimonial__client {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.testimonial__description {
    margin-bottom: var(--mb-2-5);
    display: flex;
    justify-content: center;
}

.testimonial__description p {
    width: 45%;
    font-style: italic;
}

.testimonial__icon-star {
    color: var(--first-color)
}

/* */

.contact__container {
    row-gap: 3rem;
}

.contact_information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon {
    font-size: 2rem;
    color: var(--first-color-lighter);
    margin-right: var(--mb-0-75);
}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content {
    background: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact__label {
    font-size: var(--smaller-font-size);
    color: var(--first-color);
}

.contact__input {
    width: 100%;
    background: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

/* */

.footer {
    padding-top: 2rem;
}

.footer__container {
    row-gap: 3.5rem;
}

.footer__bg {
    background: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
    font-size: var(--small-font-size);
}

.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer_link:hover {
    color: var(--first-color-lighter);
}

.footer__social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__social:hover {
    color: var(--first-color-lighter);
}

.footer__copy {
    font-size: var(--small-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.footer__title, .footer__subtitle, .footer__link, .footer__social {
    color: #fff;
}

/* */

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background: var(--first-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    background: var(--first-color-alt);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #fff;
}

.show-scroll {
    bottom: 5rem;
}

/* */

::-webkit-scrollbar {
    width: .60rem;
    background: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    color: var(--text-color-light);
}

/* MEDIA QUERIES */
/* Small Devices */

@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem .25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .home__content {
        grid-template-columns: .25fr 3fr;
    }

    .home__blob {
        width: 180px;
    }

    .skills__title {
        font-size: var(--normal-font-size)
    }

    .qualification__data {
        gap: .5rem;
    }

    .services__container {
        grid-template-columns: max-content;
        justify-content: center;
    }

    .services__content {
        padding-right: 3.5rem;
    }

    .services__modal {
        padding: 0 .5rem;
    }

    .project__img {
        width: 200px;
    }

    .testimonial__data, .testimonial__header {
        flex-direction: column;
        align-items: center;
    }

    .testimonial__img {
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }

    .testimonial__data, .testimonial__description {
        text-align: center;
    }
}

/* Medium Devices */

@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        justify-self: center;
    }

    .about__container, .skills__container, .portfolio__content,
    .project__container, .contact__container, .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .qualification__sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .header, .main, .footer__container {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon, .nav__close, .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .change-theme {
        margin: 0;
    }

    .home__container {
        row-gap: 5rem;
    }

    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__blob {
        width: 270px;
    }

    .home__scroll {
        display: block;
    }

    .home__scroll-button {
        margin-left: 3rem;
    }

    .about__container {
        column-gap: 5rem;
    }

    .about__img {
        width: 350px;
    }

    .about__description {
        text-align: initial;
    }

    .about__info {
        justify-content: space-between;
    }

    .about__buttons {
        justify-content: initial;
    }

    .qualification__tabs {
        justify-content: center;
    }

    .qualification__sections {
        justify-items: center;
        grid-template-columns: 1fr 1fr;
    }

    .services__container {
        grid-template-columns: repeat(3, 218px);
        justify-content: center;
    }

    .services__icon {
        font-size: 2rem;
    }

    .services__content {
        padding: 6rem 0 2rem 2.5rem;
    }

    .services__modal-content {
        width: 450px;
    }

    .portfolio__img {
        width: 320px;
    }

    .portfolio__content {
        align-items: center;
    }

    .project {
        text-align: initial;
    }

    .project__bg {
        background: none;
    }

    .project__container {
        background: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }

    .project__data {
        padding-top: .8rem;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__bg {
        padding: 3rem 0 3.5rem;
    }

    .footer__links {
        flex-direction: row;
        column-gap: 3.5rem;
    }

    .footer__socials {
        justify-self: flex-end
    }

    .footer__copy {
        margin-top: 4.5rem;
    }
}

/* Large Devices */

@media screen and (min-width: 1024px) {
    .header, .main, .footer_container {
        padding: 0;
    }

    .home__blob {
        width: 320px;
    }

    .home__social {
        transform: translateX(-6rem);
    }

    .services__container {
        grid-template-columns: repeat(3, 238px);
    }

    .portfolio__content {
        column-gap: 5rem;
    }

    .contact__form {
        width: 460px;
    }

    .contact__inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
